
\.idea/workspace\.xml

\.gradle/4\.6/fileHashes/fileHashes\.bin

\.gradle/4\.6/fileHashes/fileHashes\.lock

\.gradle/4\.6/fileHashes/resourceHashesCache\.bin

\.gradle/4\.6/taskHistory/taskHistory\.bin

\.gradle/4\.6/taskHistory/taskHistory\.lock

\.gradle/buildOutputCleanup/buildOutputCleanup\.lock
